## Question 1

Consider the following Python module:
a = 0 

def b():

global a

a = c(a)

def c(a):

return a + 2

After importing the module into the interpreter, you execute:

 b()
 
 b()
 
 b()
 
 a
 
 ?
 
What value is displayed when the last expression (a) is evaluated? Explain your Banswer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
    print(a)
def c(a):
    return a+2

In [2]:
b()
b()
b()

2
4
6

In [3]:
a

6

### **Explaination:**

Here in above code, we have called two functions called b() and c(). And we have one variable named 'a' which is initialized with a value of 0.

Now b() function called 3 times:

First time :

When b() function is called, the another function c() inside is also called, passing the global value of "a" which is 0 . The calculation will be a=0+2=2 means the value will return from c() back to b(). Subsequently, in b(), the returned value of 2 is assigned to the variable "a".

Second time:

Second time, the updated value of a(which is "2") is passed to the function c().Inside c(), the value of a is incremented by 2 and resultinf value will be back to b(). which will be a=2+2=4.

Third time:

Ultimatly, with the same logic the value of a(which is now "4") passed to c().and then the calculated valkue (a=4+2=6) will return to b()

Since it was the last call for b(), the final value of "a" will be "6" .

## Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

In [4]:
def fileLength(file_name):
    try:
        file_info = open(file_name)
        details = file_info.read()
        file_info.close()
        print(len(details))
    except: print(f"File {file_name} not found!")

In [62]:
fileLength("Filelength.txt")

122

In [63]:
fileLength("Filelength1.txt")

File Filelength1.txt not found!

## Question 3

In [7]:
list1 = []
x = 0
y = 0
class Marsupial():
    
    def put_in_pouch(self,elements):
        list1.append(elements)
    
    def pouch_contents(self):
        print(list1)
m= Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch("firetruck")
m.put_in_pouch("kitten")
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y): 
        Marsupial.__init__(self)
    
    def jump(self,dx,dy):
        global x
        global y
        x +=dx
        y +=dy
    def __str__(self):
        return(f"I am a Kangaroo located at coordinates({x},{y})")

In [9]:
k= Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0,0)

In [10]:
k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.pouch_contents()

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [11]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

## Question 4

In [12]:
def collatz(x):
    if x <= 0:
        print("Please give positive number as an input.") # input should be positive
        return

    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [13]:
collatz(1)

1

In [14]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

In [15]:
def binary(num):
    if num == 0: 
        print("0", end="")
    elif num == 1: 
        print("1", end="")
    else: 
        binary(num // 2) 
        print(num % 2, end="")

In [16]:
binary(0)

0

In [17]:
binary(1)

1

In [18]:
binary(3)

11

In [19]:
binary(9)

1001

## Question 6

In [64]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.heading_size = 0
        self.is_heading = False

    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.heading_size = 1
            self.is_heading = True
        elif tag == 'h2':
            self.heading_size = 2
            self.is_heading = True
        else:
            self.is_heading = False

    def handle_data(self, data):
        if self.is_heading:
            indent = '  ' * (self.heading_size - 1)
            heading_data = data.strip()
            if heading_data:
                print(f"{indent}{heading_data}")

    def print_headings(self):
        pass  # Prints headings


fileaddress = 'C:/Users/Parth/Desktop/Parth BDAT/1004- Data Programming/Assignments/Prob_Set2/w3c.html'

In [65]:
infile = open(fileaddress, 'r')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

W3C Mission
  Principles

## Question 7

In [32]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin
class MyHTMLParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            href = dict(attrs).get('href')
            if href:
                self.links.append(href)

def webdir(url, depth_limit, indent):
    print(" " * indent, url)
    if depth_limit == 0:
        return
    try:
        response = urlopen(url)
        html_content = response.read().decode()
    except:
        return
    parser = MyHTMLParser()
    parser.feed(html_content)
    links = parser.links
    for link in links:
        sub_url = urljoin(url, link)
        webdir(sub_url, depth_limit - 1, indent + 4)

In [31]:
webdir("https://reed.cs.depaul.edu/lperkovic/", 2, 0)

 https://reed.cs.depaul.edu/lperkovic/
     http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
     http://www.cdm.depaul.edu
     https://reed.cs.depaul.edu/lperkovic/courses/csc241/
     https://reed.cs.depaul.edu/lperkovic/courses/csc242/
     https://reed.cs.depaul.edu/lperkovic/papers/papers.html

## Question 8

a) SELECT * FROM temprature; 

b) SELECT DISTINT cities from temprature;

c) SELECT * from temprature WHERE country = 'India';

d) select * from temprature where season = 'Fall';

e) select city, country, season from temprature where rainfall BETWEEN 200 AND 400;

f) SELECT city, country from temprature where season = 'Fall' AND temprature > 20 ORDER BY temprature;

g) select SUM(rainfall) from temprature where country = 'Cairo';

h) select season ,SUM(rainfall) from temprature GROUP BY SEASON;

In [68]:
import sqlite3

conn = sqlite3.connect('season.db')
curs = conn.cursor()

curs.execute( '''
DROP TABLE IF EXISTS temp_details; 
''')

# Create the table
table = '''
CREATE TABLE temp_details (
    City VARCHAR,
    Country VARCHAR,
    Season VARCHAR,
    Temperature FLOAT,
    Rainfall FLOAT
)
'''

curs.execute(table)

# Insert the data into the table
insert_query = '''
INSERT INTO temp_details (City, Country, Season, Temperature, Rainfall)
VALUES (?, ?, ?, ?, ?)
'''

data = {
    'City': ['Mumbai', 'Mumbai', 'Mumbai', 'Mumbai', 'London', 'London', 'London', 'London', 'Cairo', 'Cairo', 'Cairo', 'Cairo'],
    'Country': ['India', 'India', 'India', 'India', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'United Kingdom', 'Egypt', 'Egypt', 'Egypt', 'Egypt'],
    'Season': ['Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall', 'Winter', 'Spring', 'Summer', 'Fall'],
    'Temperature': [24.8, 28.4, 27.9, 27.6, 4.2, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2],
    'Rainfall': [5.9, 16.2, 1549.4, 346.0, 207.7, 169.6, 157.0, 218.5, 16.5, 6.5, 0.1, 4.5]
}



for i in range(len(data['City'])):
    city = data['City'][i]
    country = data['Country'][i]
    season = data['Season'][i]
    temperature = data['Temperature'][i]
    rainfall = data['Rainfall'][i]
    curs.execute(insert_query, (city, country, season, temperature, rainfall))

# Commit the changes and close the connection
conn.commit()


print("Values Inserted to the 'temp_details' table in the 'season.db' database.")

Values Inserted to the 'temp_details' table in the 'season.db' database.

In [67]:
#a)
curs.execute("SELECT * FROM temp_details")
result_a = curs.fetchall()
print("a) All the temperature data.")
for row in result_a:
    print(row)

#b) 
curs.execute("SELECT DISTINCT City FROM temp_details")
result_b = curs.fetchall()
print("\nb) All the cities, but without repetition.")
for row in result_b:
    print(row[0])

# c) 
curs.execute("SELECT * FROM temp_details WHERE Country = 'India'")
result_c = curs.fetchall()
print("\nc) All the records for India.")
for row in result_c:
    print(row)

# d)
curs.execute("SELECT * FROM temp_details WHERE Season = 'Fall'")
result_d = curs.fetchall()
print("\nd) All the Fall records")
for row in result_d:
    print(row)

# e)  
curs.execute("SELECT City, Country, Season FROM temp_details WHERE Rainfall BETWEEN 200 AND 400")
result_e = curs.fetchall()
print("\n The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in result_e:
    print(row)

# f) 
curs.execute("SELECT City, Country FROM temp_details WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
result_f = curs.fetchall()
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order")
for row in result_f:
    print(row)

# g) 
curs.execute("SELECT SUM(Rainfall) FROM temp_details WHERE Country = 'Cairo'")
result_g = curs.fetchone()[0]
print("\ng) The total annual rainfall for Cairo.")
print(result_g)

# h) 
curs.execute("SELECT Season, SUM(Rainfall) FROM temp_details GROUP BY Season")
result_h = curs.fetchall()
print("\nh) The total rainfall for each season.:")
for row in result_h:
    print(row)

# Close the connection
conn.close()

a) All the temperature data.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

b) All the cities, but without repetition.
Mumbai
London
Cairo

c) All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

 The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo.
None

h) The total rainfall for each season.:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

In [69]:
words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
upper = []
lower = []
list_of_length = []
three_lists = []
longer_char=[]

for word in words:
    upper.append(word.upper())
print("A)", upper)

for word in words:
    lower.append(word.lower())
print("B)", lower)

for word in words:
    count_word = len(word)
    list_of_length.append(count_word)
print("C)" ,list_of_length)

for word in words:
    uppercase = word.upper()
    lowercase = word.lower()
    count = len(word)
    three_lists.append([uppercase,lowercase,count])
print("D)", three_lists)
    
for word in words:
    if len(word)>=4:
        longer_char.append(word)
print("E)" ,longer_char)

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']